################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/src/Popov N/AcceptanceTestingSSAU/.vs/AcceptanceTestingSSAU/v16
/src/Popov N/AcceptanceTestingSSAU/AcceptanceTestingSSAU/obj/Debug/netcoreapp2.2
/src/Popov N/AcceptanceTestingSSAU/AcceptanceTestingSSAU/obj
/src/Popov N/AcceptanceTestingSSAU/AcceptanceTestingSSAU/bin/Debug/netcoreapp2.2
