################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/src/Popov N/AcceptanceTestingSSAU/.vs/AcceptanceTestingSSAU/v16
